body {
    background: #2c2c2c;
}
aside {
    float: top;
    background: DarkGrey;
    width: 100%;
    padding: 2.5%;
    height: 10vh;
    color: #fff;
    border-right: 5px solid #4d4d4d
}

aside ul {
    list-style: none;
}

aside ul li  {
    color: #fff;
    display: block;
    margin-top: 8px;
    transition: transform .6s ease;
}

aside ul li:hover, ul a:hover {
    color: red;
    text-decoration: none;
    transform: scale(1.15);
}

main .features {
    float: left;
    color: #fff;
    margin-top: 50px;
    text-align: center;
    width: 75%;
}